/* Background */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: url(bogdan-petrea-1144698-unsplash.jpg);
opacity: 0.7;


/* Title */

position: absolute;
left: 22.5%;
right: 22.5%;
top: 16.53%;
bottom: 37.69%;

